<div class="lineas tarjeta">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="unatarjeta">
            <div class="box">
                <a href="https://www.facebook.com/mgomezgiaigischia"><img src="../../../assets/portfolioweb.png"></a>
                <h2>Portfolio Web</h2>
            </div>
        </div>
        <div class="unatarjeta">
            <div class="box">
                <img src="../../../assets/portfolioweb.png">
                <h2>Portfolio Web</h2>
            </div>
    </div>
</div>
