<div class="lineas tarjeta">
    <h1>Educación</h1>
    <div>
        <p id="text-educacion"> Tecnicatura Universitaria en Programacion</p>
    </div>
    <div class="contenedor">
      <div class="unatarjeta">
        <div class="box">
          <img class="logos" src="../../../assets/utn.jpg">
        </div>
      </div>
      <div class="unatarjeta">
        <div class="box">
          <img class="logos" src="../../../assets/itg.jpg">
        </div>
      </div>
      <div class="unatarjeta">
        <div class="box">
          <img class="logos" src="../../../assets/TUP..jpg"> 
        </div>
      </div> 
    </div>
    <div>
      <p id="text-educacion"> Desarrollo Web Fullstack</p>
    </div>
    <div class="contenedor">
      <div class="unatarjeta">
        <div class="box">
            <img class="logos" src="../../../assets/Banner4.png">
        </div>
      </div>
    </div> 
</div>
